<%- include('../partials/header') %>
<table id = "list">
    <thead>
        <a href = "/flights/new">Add Flights</a>
        <a href = "/">Home Page</a>
        <tr>
            <th>Airline</th>
            <th>FlightNo</th>
            <th>Departs</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href = "/flights/<%= f._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>