<div class = "row">
    <div class = "col-3">
        <button type = "button" class = "btn btn-success">
            <a href = "/flights/new">Add Flights</a>
        </button>
        <button type = "button" class = "btn btn-success">
            <a href = "/">Home Page</a>
        </button>
        <div class = "col-2"></div>
    </div>
</div>
<%- include('../partials/header') %>
<table class = "table table-bordered table-hover" id = "list">
    <thead>
        <tr>
            <th>Airline</th>
            <th>FlightNo</th>
            <th>Departs</th>
            <th>Airport</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><%= f.airport %></td>
                <td class = "btn btn-light"><a href = "/flights/<%= f._id %>">Details</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>


<%- include('../partials/footer') %>