<%- include('../partials/header') %>

<form id = "flight-page" action = "/flights/<%= flight._id %>/destinations" method = "POST">
        <div>Airline: <%= flight.airline %></div>
        <div>FlightNo: <%= flight.flightNo %></div>
        <div>Departure Date: <%= flight.departs %></div>
        <div>From: <%= flight.airport %></div>
        <div>Destinations: <%= flight.destinations %></div>
         <label>Arrival: </label>
            <select name = "airport">
                <option value = "AUS">AUS</option>
                <option value = "DAL">DAL</option>
                <option value = "LAX">LAX</option>
                <option value = "SEA">SEA</option>
            </select>
            <input type = "datetime-local" name = "arrival">
        <button type = "submit">Add Destination</button>
        <a href = "/flights">All Flights</a>
        </form>

<%- include('../partials/footer') %>
